<h2 class="country-name">
  {{name}}
</h2>
<div class="info-content">
  <ul class="info">
    <li class="info__item">
      <h3 class="info__item__caption">
        Capital: 
      </h3>
      <span class="info__item__text">
        {{capital}}
      </span>
    </li>
    <li class="info__item">
      <h3 class="info__item__caption">
        Population: <br>
      </h3>
      <span class="info__item__text">
        {{population}}
      </span>
    </li>
    <li class="info__item">
      <h3 class="info__item__caption">
        Languages: 
      </h3>
      <ul class="info__item__list">
        {{#each languages}}
          <li class="info__item__text">
            {{this}}
          </li>
        {{/each}}
      </ul>
    </li>
  </ul>
  <div class="flag-container">
    <img src={{flag}} alt="{{name}} flag" class="country-flag" />
  </div>
  
</div>